// COMMON/TYPOGRAPHY

.title {
    margin-bottom: 10px;
    font-size: 90px;
    font-family: $archivo-black;
    color: $black;
}

.paragraph {
    font-size: 50px;
    letter-spacing: 2px;
    margin: 2px 0px;
    color: $black;
}
