// COMMON/VARIABLES

$white: #FFFFFF;
$black: #000000;

$grey: #C5C5C4;
$purple: #5000FF;
$pink: #FF9FAE;
$yellow: #FFF35F;

$archivo: 'Archivo', sans-serif;
$archivo-black: 'Archivo Black', sans-serif;
