// COMPONENTS/FRAME

.frame {
    border: 20px solid $black;
    background: $yellow;
    padding: 10px 25px;
    height: calc(100% - 60px);

    &:hover {
        background-color: $purple;
        color: $white !important;
    }
}

.frame__text {
    display: inline-block;
    height: 100%;
    font-size: 90px;
    font-family: $archivo-black;
    line-height: 65px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    text-align: center;
    color: $black;
    transform: rotate(180deg);

    &:hover { color: $white; }
}
