// COMPONENTS/NAV

.nav {
    .menu__container {
        position: absolute;
        margin-top: -450px;
        height: 450px;
        width: 100%;
        background-color: $pink;
        transition: all .33s ease;
    }

    .menu__list {
        margin: 0;
        list-style-type: none;
        padding: 50px;
        font-family: $archivo-black;
    }

    .menu__item {
        a,
        a:hover {
            color: $white;
            font-size: 70px;
            text-transform: lowercase;
            text-decoration: none;

            &:hover { text-decoration: underline; }
        }
    }

    .menu__button {
        position: absolute;
        right: 30px;
        bottom: -100px;
        width: 80px;
        height: 80px;
        background-color: $white;
        text-align: center;
    }

    .menu__arrow {
        display: inline-block;
        font-size: 80px;
        transform: rotate(0turn);
    }

    &.open {
        .menu__container { margin-top: 0px; }

        .menu__button { bottom: -40px; }

        .menu__arrow {
            margin-top: -10px;
            transform: rotate(0.5turn);
        }
    }
}
