// PAGES/ABOUT

.about {
    background-color: $grey;

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .competences__title {
        margin-bottom: 10px;
        font-size: 90px;
        font-family: $archivo-black;
        color: $black;
    }

    .competences__list {
        list-style-type: none;
        padding-left: 0px;

        .competences__list-element {
            font-size: 50px;
            letter-spacing: 2px;
            color: $black;
        }
    }

    .competences,
    .cv {
        width: 50%;
        float: left;
        height: 100%;
    }
}
